{% extends "base.html" %}
{% block title %}Collaborator details{% endblock %}
{% block content %}

<div class="collaborator-menu">
    <a href="/collaborators/update/{{ collaborator.id }}">
        <button type="button" class="btn btn-secondary">Update a collaborator</button>
    </a>
    <a href="/collaborators/delete/{{ collaborator.id }}">
        <button type="button" class="btn btn-secondary">Delete collaborator</button>
    </a>
</div>

<div class="collaborator-details">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Collaborator</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Position</th>
            <th scope="col">Availability</th>
            <th scope="col">Main skills</th>
            <th scope="col">Secondary skills</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{collaborator.name}}
            </td>
            <td>
                {{collaborator.email}}
            </td>
            <td>
                {{collaborator.phone}}
            </td>
            <td>
                {{collaborator.position}}
            </td>
            <td>
                {{collaborator.availability}}
            </td>
            <td>
                {% for skill in collaborator.main_skills.all.values %}
                    {{skill.name}};
                {% endfor %}
            </td>
            <td>
                {% for skill in collaborator.secondary_skills.all.values %}
                    {{skill.name}};
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}
