<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index collaborator</title>
</head>
<body>
<p>
<a href="/">
    <button>Home</button>
</a>
<a href="/collaborators/add/collaborator">
    <button>Add collaborator</button>
</a>
<a href="/skills">
    <button>Skills</button>
</a></p>
Search a collaborator:
<form action="/collaborators" method="get">{% csrf_token %}
    {{ search_form }}
    <input type="submit" name="search" value="OK">
</form>
<br>
Here the list of collaborators:
<table border="1" width="600">
    <tr>
        <td>Collaborator:</td>

        <td>Main Skill:</td>
        <td>Secondary Skill:</td>
    </tr>
{% for collaborator in collaborators %}
    <tr>
        <td>
            <a href="collaborators/view/{{ collaborator.id }}">{{collaborator.name}}</a>
        </td>
        <td>
            {% for skill in collaborator.main_skills.all.values %}
                {{skill.name}};
            {% endfor %}
        </td>
        <td>
            {% for skill in collaborator.secondary_skills.all.values %}
                {{skill.name}};
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
</body>
</html>