<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add collaborator</title>
</head>
<body>
<p>
<a href="/">
    <button>Home</button>
</a>

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    {{ message }}</div>
    {% endfor %}
</ul>
{% endif %}

</p>
Add a collaborator to your database:
<form action="/collaborators/add/collaborator" method="post">{% csrf_token %}
    {{collaborator_form.as_p}}
    <p><input type="submit" value="OK"></p>
</form>
</body>
</html>