{% extends "base.html" %}
{% block title %}My Competitors{% endblock %}
{% block content %}
{% include "base_competitor_search_form.html" %}

<div class="competitor-list">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Competitor</th>
            <th scope="col">Website</th>
            <th scope="col">showreel</th>
        </tr>
        </thead>
    {% for competitor in object_list %}
        <tbody>
        <tr>
            <td>
                <a class="competitor-name" href="/competitors/view/{{ competitor.id }}">{{competitor.name}}</a>
            </td>
            <td>
                {{competitor.website}}
            </td>
            <td>
                {{competitor.showreel}}
            </td>
        </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}
