<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
<form action="/add/collaborator" method="get">
    <button>Add collaborator</button>
</form>
</p>
Here the list of collaborators:
<table border="1" width="600">
    <tr>
        <td>Collaborator:</td>
        <br>
        <td>Skill:</td>
    </tr>
{% for collaborator in collaborators %}
    <tr>
        <td>
            <a href="collaborator/{{ collaborator.id }}">{{collaborator.name}}</a>
        </td>
        <td>
            {% for skill in collaborator.main_skills.all.values %}
                {{skill.name}};
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</body>
</html>