{% extends "base.html" %}
{% block title %}My Projects{% endblock %}
{% block content %}
{% if include_form == "True" %}
{% include "base_job_search_form.html" %}
{% endif %}

<div class="projects-list">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Collaborators</th>
            <th scope="col">Preview's Link</th>
            <th scope="col">Status</th>

        </tr>
        </thead>
    {% for project in projects %}
        <tbody>
        <tr>
            <td>
                <a class="project-name" href="/projects/view/{{ project.id }}">{{project.name}}</a>
            </td>
            <td>
                {% for collaborator in project.collaborators.all.values %}
                    {{collaborator.name}};
                {% endfor %}
            </td>
            <td>
                {{project.preview}}
            </td>
            <td>
                {% if project.ended %}
                    Finished
                {% else %}
                    Ongoing
                {% endif %}
            </td>
        </tr>
        </tbody>
    {% endfor %}
    </table>
</div>

{% endblock %}
