<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index skills</title>
</head>
<body>
<p>
<a href="/">
    <button>Home</button>
</a>
<a href="/collaborators">
    <button>My collaborators</button>
</a>

</p>
<form action="/skills/add" method="post">{% csrf_token %}
    <input type="text" name="skill" placeholder="Add a skill">
    <input type="submit" value="Add">
</form>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>
    {{ message }}</div>
    {% endfor %}
</ul>
{% endif %}

<table border="0" width="600">
<tr>
<td>Skill:</td>
</tr>
<br>
{% for skill in skills %}
<tr>
    <td width="400">
        <form action="/skills/edit/{{skill.id}}" method="post">{% csrf_token %}
            <input type="text" name="{{ skill.name }}" value="{{ skill.name }}" disabled>
            <input type="text" name="{{ skill.name }}" placeholder="New name">

            <input type="submit" value="Rename Skill">
        </form>
    </td>
    <td>
        <form action="/skills/delete/{{skill.id}}" method="post">{% csrf_token %}
            <button>Delete Skill</button>
        </form>
    </td>
</tr>
{% endfor %}
</table>
</body>
</html>