<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-light">
    <div class="logo-home">
        <a class="navbar-brand" href="/"></a>
    </div>
    <div class="d-flex">
        <div class="dropdown mr-1">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuCollaborator" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Collaborators
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuCollaborator">
                <a class="dropdown-item" href="/collaborators">My collaborators</a>
                <a class="dropdown-item" href="/collaborators/add/collaborator">Add a collaborator</a>
                <a class="dropdown-item" href="#">Search a collaborator</a>
            </div>
        </div>
        <div class="dropdown mr-1">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuSkills" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skills
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuSkills">
                <a class="dropdown-item" href="/skills">Skills</a>
                <a class="dropdown-item" href="/collaborators/add/collaborator">Add a skill</a>
            </div>
        </div>
        <div class="dropdown mr-1">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuClients" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clients
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuClients">
                <a class="dropdown-item" href="/clients">Clients</a>
                <a class="dropdown-item" href="/clients/add/client">Add a client</a>
                <a class="dropdown-item" href="#">Search a client</a>
            </div>
        </div>
        <div class="dropdown mr-1">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuCompetitors" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Competitors
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuCompetitors">
                <a class="dropdown-item" href="/competitors">Competitors</a>
                <a class="dropdown-item" href="/competitors/add/competitor">Add a competitor</a>
                <a class="dropdown-item" href="#">Search a competitor</a>
            </div>
        </div>
    </div>
</nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    </div>
</body>
</html>