<div class="form-add">
    <h5>Add a new project:</h5>
    <div class="search-form">
        <form method="post">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.name.label }}
                    {{ form.name }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.preview.label }}
                    {{ form.preview }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.collaborators.label }}
                    {{ form.collaborators }}
                </div>
                <div class="form-float-right" style="float:right">
                    <div class="form-group col-md-12">
                        {{ form.link.label }}
                        {{ form.link }}
                    </div>
                    <div class="form-group col-md-12">
                        {{ form.ended.label }}
                        {{ form.ended }}
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" name="add">Add</button>
        </form>
    </div>
</div>