<div class="form-search">
    <h5>Search a competitor:</h5>
    <div class="search-form">
    <form action="/competitors" method="get">{% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ competitor_search_form.name.label }}
                {{ competitor_search_form.name }}
            </div>
            <div class="form-group col-md-6">
                {{ competitor_search_form.position.label }}
                {{ competitor_search_form.position }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit" name="search">Search</button>
    </form>
    </div>
</div>

